
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Absensi</title>
</head>
<body>
    <h1>Selamat Datang di Sistem Terpadu</h1>
    <ul>
        <li><a href="/absensi">Form Absensi</a></li>
        <li><a href="/laporan">Form Laporan Lalu Lintas</a></li>
        <li><a href="/pengaduan">Form Pengaduan</a></li>
    </ul>
</body>
</html>
